*{
    background-image: url("Images/techie.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: aliceblue;
    font-family:Arial, Helvetica, sans-serif;

}
.top{
    text-align: center;

}
.heading{
    padding: 20px;
}
.about{
    text-align: center;
}
img{
    height: 50px;
    
}